body {
    font-family: Consolas;
    background-color: #111;
    color: #ccc;
    margin: 5%;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    text-decoration: underline;
}

h1 {
    margin-left: 1vw;
}

h2 {
    margin-left: 2vw;
}

h3 {
    margin-left: 3vw;
}

h4 {
    margin-left: 4vw;
}

h5 {
    margin-left: 5vw;
}

h6 {
    margin-left: 6vw;
}

p {
    margin-left: 2vw;
}

li {
    margin-left: 7vw;
}

code {
    background-color: #ccc;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px #000;
    padding: 2px;
}